body{
    margin:0;
    padding: 0; 
    display: flex;
    justify-content: center;
     align-items: center;  
    background-image: url("download.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
}
.card{
    height: 300px;
    width: 900px;
    background-color: transparent;
    backdrop-filter: blur(10px);
    border: 1px groove skyblue;
    border-radius: 25px;
}
.head{
    display: flex;
    margin: 20px;
    color: aliceblue;
}
.head img{
    padding: 10px;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 1px splid black;
}
.text{
    margin: 20px;
    color: aliceblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
}
.buttons{
display: flex;
justify-content: center;
gap: 20px;
}
button{
    height: 40px;
    width: 150px;
    border-radius: 30px;
    border: 1px solid skyblue;
    background-color: transparent;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 250;
    color: aliceblue;
    font-size: 20px;

}